body {
	padding: 1rem 4rem;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	background: rgb(248, 249, 250); /* Could include Bootstrap and use bg-light. Overkill for a very simple page */
}

h1 {
	text-align: center;
}

footer {
	margin: 1rem 2rem;
}
